body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(172, 172, 172);
}

.message-container::-webkit-scrollbar {
    display: none; /* Versteckt die Scrollleisten für den Nachrichtencontainer und die gesamte Seite */
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: gray;
    border: 5px solid black;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: fantasy;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Änderung von 80vh auf 100vh, um den gesamten Viewport-Höhe zu nutzen */
    padding-bottom: 55px; /* Platz für das Eingabefeld lassen */
}

.random-image{
    position: fixed;
    top: 98px;
    
    
    height: 750px;
    width: 320px;
}

.mid-right{
    right: 320px;
}

.mid-mid-right{
    right: 640px;
}

.mid-mid-left{
    left: 640px;
}

.mid-left{
    left: 320px;
}

.side-pic .left{
    left: 0;
}

.side-pic .right{
    right: 0;
}

.message-container {
    flex-grow: 1; /* Nimmt den verfügbaren Platz ein */
    overflow-y: auto; /* Ermöglicht das vertikale Scrollen, falls viele Nachrichten vorhanden sind */
    margin: 1rem 0; /* Fügt oben und unten einen Rand hinzu */
    z-index: 0;
    margin-top: 90px;
}

.input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px; /* Höhe des Formulars */
    background-color: white;
    padding: 30px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 2;
    background-color: gray;
    border: 5px solid black;
}

.btn{
    background-color: white;
}

.my-form {
    bottom: 20px;
}

.msg-date {
    font-size: 10px;
    position: absolute;
    bottom: 1px;
    right: 4px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1440px) {
    .random-image{
        height: 750px;
        width: 240px;
    }
    
    .mid-right{
        right: 240px;
    }
    
    .mid-mid-right{
        right: 480px;
    }
    
    .mid-mid-left{
        left: 480px;
    }
    
    .mid-left{
        left: 240px;
    }
}

@media screen and (max-width: 1025px) {
    .random-image{
        height: 650px;
        width: 170px;
    }
    
    .mid-right{
        right: 170px;
    }
    
    .mid-mid-right{
        right: 340px;
    }
    
    .mid-mid-left{
        left: 340px;
    }
    
    .mid-left{
        left: 170px;
    }
}

@media screen and (max-width: 414px) {
    .random-image{
        height: 650px;
        width: 207px;
    }
    
    .mid-right{
        display: none;
    }
    
    .mid-mid-right{
        display: none;
    }
    
    .mid-mid-left{
        display: none;
    }
    
    .mid-left{
        display: none;
    }

    .right{
        right: 0px;
    }
    
    .left{
        left: 0px;
    }
}