.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-container {
    margin-bottom: 100px;
}

.main_rooms_title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    transition: 0.2s ease-in;
    transition: 0.8s ease-out;
    font-size: 100px;
    background-image: linear-gradient(to right, rgb(136, 130, 248), rgb(7, 0, 150));
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 110px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: fantasy;
}

.create-chatroom {
    font-size: 15px;
}

.flash-messages{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

.chatrooms-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.chatroom-container {
    width: 300px; /* Breite nach Bedarf anpassen */
    margin: 0 7.5px 15px 7.5px;
}

.chatroom {
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.4s ease-in;
    transition: 0.25s ease-out;
    border: 2px solid black;
    height: 150px; /* Höhe nach Bedarf anpassen */
}

.chatroom img {
    width: 100px;
    height: 100px; /* 90% der Höhe von unten */
    
}

.chatroom h2 {
    margin: 0; /* Stelle sicher, dass kein zusätzlicher Abstand für das <h2>-Element vorhanden ist */
}


.chatroom:hover{
    transform: scale(1.05);
}

