{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/AboutAnimeSphere.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<div class="nav">
    <a class="active" href="{{ url_for('rooms') }}">Home</a>
    <a href="{{ url_for('AboutAnimeSphere') }}">About Animesphere</a>
    <a href="{{ url_for('ContactUs') }}">Contact us</a>
    <a href="{{ url_for('home') }}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<div class="card" style="max-width: 1600px; max-height: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/Yakubandluka.png') }}"" class="img-fluid rounded-start" alt="...">
          </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">ANIMESPHERE - Self-conception</h5>
          <p class="card-text">We are a passionate and dedicated team of anime enthusiasts who have set ourselves the goal of creating an inviting platform for like-minded people - the AnimeSphere. Our team brings together a love of anime, games, manga and everything else the fascinating world of Japanese entertainment has to offer.</p>
          <p class="card-text">Our vision is to make AnimeSphere a vibrant meeting place for the worldwide anime community. Every anime fan should have the opportunity to register on our site and actively participate in the discussions in the specific anime chats. We see AnimeSphere not only as a place to exchange information about the latest anime trends, but also as a platform where we can discuss games, mangas, video trailers and much more together.</p>
          <p class="card-text">Our team believes that the magic of anime lies not only in the stories, but also in the community that connects them. AnimeSphere is more than a website; it's a place to come together, share ideas and enjoy the diverse world of Japanese pop culture.</p>
          <p class="card-text">We are proud to have launched AnimeSphere and look forward to growing together with the community and sharing the fascination for anime in all its facets.</p>
          <p class="card-text welcome">Welcome to AnimeSphere - where the anime community is at home!</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}