{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/AboutAnimeSphere.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<div class="nav">
    <a class="active" href="{{ url_for('rooms') }}">Home</a>
    <a href="{{ url_for('AboutAnimeSphere') }}">About Animesphere</a>
    <a href="{{ url_for('ContactUs') }}">Contact us</a>
    <a href="{{ url_for('home') }}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<div class="card" style="max-width: 1600px; max-height: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/Yakubandluka.png') }}"" class="img-fluid rounded-start" alt="...">
          </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">ANIMESPHERE - Selbstverständnis</h5>
          <p class="card-text">Wir sind ein leidenschaftliches und engagiertes Team von Anime-Enthusiasten, das sich zum Ziel gesetzt hat, eine einladende Plattform für Gleichgesinnte zu schaffen – die AnimeSphere. In unserem Team vereinen wir die Liebe zu Anime, Games, Mangas und allem, was die faszinierende Welt der japanischen Unterhaltung zu bieten hat.</p>
          <p class="card-text">Unsere Vision ist es, AnimeSphere zu einem pulsierenden Treffpunkt für die weltweite Anime-Community zu machen. Jeder Anime-Fan soll die Möglichkeit haben, sich auf unserer Seite zu registrieren und aktiv an den Diskussionen in den spezifischen Anime-Chats teilzunehmen. Wir verstehen AnimeSphere nicht nur als Ort des Austauschs über die neuesten Anime-Trends, sondern auch als eine Plattform, auf der wir gemeinsam über Games, Mangas, Video-Trailer und vieles mehr diskutieren können.</p>
          <p class="card-text">Unser Team ist davon überzeugt, dass die Magie von Anime nicht nur in den Geschichten liegt, sondern auch in der Gemeinschaft, die sie verbindet. AnimeSphere ist mehr als eine Internetseite; es ist ein Ort des Miteinanders, des Austauschs von Ideen und der Freude an der vielfältigen Welt der japanischen Popkultur.</p>
          <p class="card-text">Wir sind stolz darauf, AnimeSphere ins Leben gerufen zu haben, und freuen uns darauf, gemeinsam mit der Community zu wachsen und die Faszination für Anime in all ihren Facetten zu teilen.</p>
          <p class="card-text welcome">Willkommen bei AnimeSphere – wo die Anime-Community zu Hause ist!</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}