
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimeSphere</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</head>

<body>
    
  <nav class="navbar">
      <p class="navbar-brand" href="#">{{ chatroom_name }}</p>
  </nav>
  
  <div class="side-pic">
    <img class="random-image left" src="" alt="Beschreibung des Bildes">
    <img class="random-image right" src="" alt="Beschreibung des Bildes">
    <img class="random-image mid-right" src="" alt="Beschreibung des Bildes">
    <img class="random-image mid-left" src="" alt="Beschreibung des Bildes">
    <img class="random-image mid-mid-right" src="" alt="Beschreibung des Bildes">
    <img class="random-image mid-mid-left" src="" alt="Beschreibung des Bildes">
  </div>
  
  <div class="container">

      <div class="message-container">
        {% for msg in messagess %}
        <div class="d-flex {% if user_name == msg.user_name %} justify-content-end {% else %} justify-content-start {% endif %} mt-3">
          <div class="card">
            <div class="card-body">
              <b>{{msg.user_name}}:</b>
              {{msg.content}}
              <span class="msg-date">{{msg.created_at.strftime('%d.%m.%Y %H:%M') }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

    <div class="input-container mt-3">
      <form class="input-group mb-3 my-form" action="{{ url_for('save_message', chatroom_name=chatroom_name) }}" method="POST">
        <input type="text" id="message-input" name="content" class="form-control" placeholder="Nachricht..." >
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" onclick="removeFocus(); goBackToRooms();">Senden</button>
      </form>
    </div>

  </div>

  

  <script>
    // Funktion, um den Fokus vom Eingabebereich zu entfernen
    function removeFocus() {
      document.getElementById("message-input").blur();
    }

    // Funktion, um das Browsers-Verlaufspuffer-Ereignis zu steuern
    function goBackToRooms() {
      window.history.pushState({}, document.title, "{{ url_for('rooms') }}");
      window.location.replace("{{ url_for('rooms') }}");
    }

    function scrollToBottom() {
    // Scrollt den Nachrichtencontainer nach unten
    var messagesContainer = document.querySelector('.message-container'); // Ersetze '.message-container' mit der tatsächlichen Klasse oder ID deines Nachrichtencontainers
    
    if (messagesContainer) {
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }

    // Scrollt die gesamte Webseite nach unten
    window.scrollTo(0, document.body.scrollHeight);
    }

   // Rufe scrollToBottom auf, wenn die Seite fertig geladen ist
   window.onload = scrollToBottom;


   function setRandomImages(images) {
    var imgElements = document.querySelectorAll('.random-image');
    imgElements.forEach(function(imgElement) {
        var randomIndex = Math.floor(Math.random() * images.length);
        imgElement.src = images[randomIndex];
    });
}

var images = [
    "{{ url_for('static', filename='img/random-pic/random1.jpg') }}",
    "{{ url_for('static', filename='img/random-pic/random2.jpg') }}",
    "{{ url_for('static', filename='img/random-pic/random3.jpg') }}",
    "{{ url_for('static', filename='img/random-pic/random4.jpg') }}",
    "{{ url_for('static', filename='img/random-pic/random5.jpg') }}"
];

setRandomImages(images);

setInterval(function() {
    setRandomImages(images);
}, 60000); // Bilder alle 60 Sekunden aktualisieren


  </script>

</body>
</html>










