{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/ContactUs.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="nav">
    <a class="active" href="{{ url_for('rooms') }}">Home</a>
    <a href="{{ url_for('AboutAnimeSphere') }}">About Animesphere</a>
    <a href="{{ url_for('ContactUs') }}">Contact us</a>
    <a href="{{ url_for('home') }}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<section class="contact-section">
    <div class="contact-container">
        <div class="contact-heading text-center mb-5">
            <h2>Contact Information</h2>
        </div>

        <div class="contact-info-wrapper">
            <div class="contact-info">
                <div class="contact-icon">
                    <span class="fa fa-map-marker"></span>
                </div>
                <div class="contact-text">
                    <p><span class="info-text">Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
            </div>

            <div class="contact-info">
                <div class="contact-icon">
                    <span class="fa fa-phone"></span>
                </div>
                <div class="contact-text">
                    <p><span class="info-text">Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
            </div>

            <div class="contact-info">
                <div class="contact-icon">
                    <span class="fa fa-paper-plane"></span>
                </div>
                <div class="contact-text">
                    <p><span class="info-text">Email:</span> <a href="mailto:info@yoursite.com">s_ercan22- or s_poljic22@stud.hwr-berlin.de</a></p>
                </div>
            </div>
        </div>


<div class="contact-form-wrap">
    <h3 class="mb-4 text-center">Send us a Message!</h3>
    <form method="POST" action="/submit_support_request" id="contactForm" name="contactForm" class="contact-form">
        <div class="form-group border">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
        </div>

        <div class="form-group border">
            <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        </div>

        <div class="form-group border">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
        </div>

        <div class="form-group border">
            <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Message"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary">
            <div class="submitting"></div>
        </div>
    </form>
</div>


</div>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
{% if success_message %}
    <p class="success">{{ success_message }}</p>
{% endif %}


</section>

{% endblock %}